/*RESET*/
*{
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{ 
	background-color: #F3E7E7;
	width: 100vw;
}
body, html { height: 100vh; }
/*Fim do RESET*/
