@media screen and (min-width: 1728px){
  .cabecalho{
    padding: 0 2em;
  }
  .opcoes{
    margin-right: auto;
  }
  .container__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--preto);
  }
  .container__texto{
    display: block;
  }
}
