@media screen and (min-width: 1728px){
  .lista-rodape{
    border-left: 1px solid var(--cinza-claro);
    padding-left: 1em;
  }
  .rodape{
    padding: 3em 0;
    background-color: transparent;
  }
  .lista-rodape__titulo{
    margin-bottom: 1em;
  }
}
