@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Kdam+Thmor+Pro&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=League+Gothic&family=Oswald&family=Outfit:wght@300;600&family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	background-color: rgb(34, 34, 34);
	color: white;
	font-family: 'Poppins';
	font-weight: 400;
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
}
h1{
	font-weight: 200;
}
h2{
	font-size: 50px;
	line-height: 10px;
	font-weight: 500;
}
p{
	line-height: 20px;
	max-width: 500px;
	font-weight: 300;
}
img{
	width: 600px;
}
a{
	color: white;
	transition: 0.34s all;
}
a:hover{
	color: rgb(132, 14, 201);
	transition: 0.34s all;
}
header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
header div#title{
	flex-direction: column;
	line-height: 10px;
}
li{
	display: inline-block;
	margin: 20px;
}
header ul a#outstanding{
	border: 2px solid rgb(132, 14, 201);
	padding: 10px;
	border-radius: 15px;
	transition: 0.34s all;
}
header ul a#outstanding:hover{
	background-color: rgb(132, 14, 201);
	color: white;
	transition: 0.34s all;
}
/*__________*/
main{
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}
main aside h2:first-child{
	color: rgb(132, 14, 201);
}
/*main aside h2:nth-child(2){
	color: rgb(132, 14, 201);
}*/
main aside form{
	display: flex;
	flex-direction: column;
	width: 70%;
}
main aside form input{
	margin-top: 20px;
	height: 20px;
	padding: 15px;
	border-radius: 20px;
	border: none;
	outline: none;
	font-size: 15px;
}
main aside form input[type="submit"]{
	height: 50px;
	width: 50%;
	background-color: rgb(132, 14, 201);
	color: white;
	font-weight: bold;
	margin: 20px auto 0;
}
main aside form input[type="submit"]:hover{
	cursor: pointer;
}
